<aside id="left-panel" class="left-panel">
  <nav class="navbar navbar-expand-sm navbar-default">
    <div id="main-menu" class="main-menu collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= active_link_to entities_path, wrap_tag: :li do %>
          <i class="menu-icon fa fa-laptop"></i><%= t('entity.title') %>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
</aside>
